RewriteEngine on
RewriteCond %{HTTP_HOST} ^relevantdesign.org$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.relevantdesign.org$
RewriteCond %{REQUEST_URI} !public_html/
RewriteRule (.*) /public_html/$1 [L]

# this forces SSL connection
RewriteCond %{HTTPS} !=on
RewriteRule (.*) https://relevantdesign.org/$1 [L]